.single-survey__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.single-survey__form {
    width: 50%;
    background: white;
}