.rooms__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.rooms__table {
    width: 80vw;
    border: 1px solid #eee;
}

.room__table--header, .room__table--row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // width: 80vw;
    height: 30px;
    padding: 5px;
    border-bottom: 1px solid #dedede;
    position: relative;
}

.room__table--header {
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
}

.room__table--row {
    background-color: rgba(255,255,255,.9);
    transition: all .2s ease;
    &:hover {
        background-color: #f9f9f9;
    }
}

.room__id {
    width: 20%;
    overflow: hidden;
}

.room__name {
    width: 50%;
    overflow: hidden;
}

.room__count {
    width: 30%;
    overflow: hidden;
}

.add_room {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px 0 20px;
    transition: all .2s ease;
    font-size: 1.5em;
    cursor: pointer;
    margin-bottom: 20px;

    // border: 1px solid transparent
    & svg {
        margin-right: 20px;
    transition: all .2s ease;
    
    }

    & p {
        text-transform: uppercase;
    }

    &:hover {
        background-color: var(--main-color);
        color: white;

        & svg {
            transform: rotate(90deg);
        }
    }
}

.modal__add-room {
    font-size: .75em !important;
    
    & input {
        font-size: .75em !important;
    }

    display: flex;
    flex-direction: column;
    line-height: 1.5em;
}

.add__room--header {
    border-bottom: 1px solid #888;
}


@media (max-width: 900px) {
    .room__id {
        width: 0%;
    }
    
    .room__name {
        width: 80%;
    }
    
    .room__count {
        width: 20%;
    }
}