:root {
    --main-color-transparent: rgba(13, 83, 135, .8);
    --main-color: #0d5387;
    --light-color: #4d7fb7;
    --dark-color: #002b5a;
    --background: url('./assets/2.jpeg');
}

body {
    margin: 0;
    height: 100vh;
    // overflow: hidden;
    background: var(--background);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
  }
  
  main {
    text-align: center;
    margin-top: 40px;
  }
  
  header {
    margin: 0;
    height: 56px;
    padding: 0 16px 0 24px;
    background-color: white;
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
  }
  
  header span {
    display: block;
    position: relative;
    font-size: 20px;
    line-height: 1;
    letter-spacing: .02em;
    font-weight: 400;
    box-sizing: border-box;
    padding-top: 16px;
  }
  
  .body_container{
    padding: 20px;
  }
  
  .nav_container {
    display: flex;
    flex-direction: row;
    align-items: center;
  
    & span {
      margin: 0 10px 0 10px;
    }
  }

  .header-logo {
      text-decoration: none;
      color: var(--main-color) !important;
      display: flex;
      justify-content: center;
      align-items: center;
    padding: 0 30px 0 30px;

      & span {
          padding: 0;
      }
  }

  .nav_elem {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--light-color) !important;
    padding: 0 30px 0 30px;
    transition: all .2s ease;

    &:hover {
        color: white !important;
        background-color: var(--light-color);
    }
  }

  .bold-text {
      font-weight: bold;
  }

  
.v--modal-box{
    padding: 40px;
    font-size: 1.5em;
}

p {
  margin: 0;
  padding: 20px;
}

.btn.primary{
  background: var(--main-color);
}

@media (max-width: 900px) {
    .v--modal-box{
        font-size: 1em;
    }

    .header-logo, .nav_elem {
        padding: 0 10px 0 10px !important;
    }
}